pip install nltk==3.0.1 #also need to install corpora
pip install numpy==1.9.1
pip install scipy==0.15.1
pip install cloud==2.8.5
pip install scikit-learn==0.15.2
pip install git+git://github.com/SheffieldML/GPy.git@98f632e92ec5fafaca2683ba10cf8fc1fa2296cc
pip install matplotlib==1.4.2
